.logout {
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    background-color: var(--orange);
    border: 0;
    color: var(--white);
    padding: 4px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}